# Arreglo temporal SSL en Windows (antivirus/proxy que intercepta HTTPS)
# Si mas adelante instalas bien los certificados, puedes borrar la linea strict-ssl
strict-ssl=false
registry=https://registry.npmjs.org/
